#header {
  background: $c-m2;
  border-bottom: 2px solid $c-m4;

  h1 {
    margin: 0;

    a {
      text-decoration: none;
      display: flex;

      .h3 {
        color: $c-m7;
      }
    }
  }

  .navbar-light .navbar-nav {
    .nav-item {
      display: flex;
    }

    .nav-link {
      align-self: center;
    }
  }

  .nav-item:not(:last-of-type) .nav-link {
    text-decoration: none;
    display: flex;
    color: $c-m7 !important;

    background-image:
      linear-gradient($c-m6, $c-m6);
    background-size: 0% 4px;
    background-position: center bottom;
    background-repeat: no-repeat;
    transition: background-size 0.25s ease-in-out;

    &:hover, &:focus {
      background-size: calc(100% - 1rem) 4px;
    }
  }

  .dropdown {
    button {
      border: none;
      color: $c-m7;

      &:hover {
        color: #fff;
      }
    }

    li a {
      background: transparent;

      &:hover, &focus {
        background-color: $c-m2;
      }
    }
  }

  img {
    width: 80px;
    height: 80px;
  }
}