
@import '~vue-fs-commons/app/assets/scss/frama/colors';
/* Variables */
$bgcolor: $c-g3;

$violet: $c-f7;
$orange: $c-o7;
$bleu: $c-b7;
$rouge: $c-r8;
$vert: $c-v6;
$jaune: $c-j7;
$marron: $c-m7;

$ombre: 0px 3px 4px rgba(50, 50, 50, 0.2);
$img-ombre: 0px 2px 6px rgba(50, 50, 50, 0.4);
$carousel-ombre: 0px 3px 3px rgba(50, 50, 50, 0.5);
$button-ombre: 0px 1px 1px rgba(50, 50, 50, 0.5);

$primary: $c-f7;
$secondary: $c-m6;
$success: $c-v6;
$info: $c-b7;
$warning: $c-o7;
$danger: $c-r8;
$light: $c-m2;
$dark: $c-m8;

/* Frameworks */
// @import 'frameworks/bootstrap3';
@import 'frameworks/bootstrap4';

/* Fonts */
@import 'fonts/fork-awesome';
@import 'fonts/dejavu-sans';
@import 'fonts/roboto';

/* Frama */
@import 'frama/bootstrap4';
@import '~vue-fs-commons/app/assets/scss/frama/common';

@import 'header';
@import 'home';
@import 'modalDocs';
@import 'subfaq';