<template>
  <div :class="filter">
    <b-list-group
      v-for="key in Object.keys($t('faq')).filter(key => !/(intro|title|icon)/.test(key))"
      :id="getFramaname(key) !== undefined
        ? $t(getFramaname(key), '-tlL').replace(/[^a-z]/g, '')
        : key"
      :key="key"
      :class="wFaq[key].variant"
    >
      <h2 class="mt-3">
        <icon
          :name="getSectionIcon(key)"
          :label="getFramaname(key) ? getFramaname(key) : $t(`faq.${key}.title`)"
        />
      </h2>
      <b-list-group-item
        v-for="id in Object.keys($t(`faq.${key}`)).filter(id => !/title/.test(id))"
        :key="id"
        :class="`${toggle === id ? 'active' : ''}${wFaq[key][id].variant}`"
      >
        <a
          :href="`#${id}`"
          class="toggle"
          onclick="return false"
          @click="toggle = id.replace(toggle, '')"
        ></a>
        <h3
          class="list-group-item-heading"
          @click="toggle = id.replace(toggle, '')"
        >
          <icon :name="`${toggle === id ? 'times' : ''} m-n3 pull-right`" />
          <a :id="id"></a>
          <span v-html="$t(`faq.${key}.${id}.q`)"></span>
        </h3>
        <div class="list-group-item-text">
          <div v-html="$t(`faq.${key}.${id}.a`)"></div>
        </div>
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
export default {
  props: {
    faq: {
      type: String, // don't work with Object :-/
      required: true,
    },
    search: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      toggle: window.location.hash.replace(/^#/, ''),
      filter: 'nofilter',
      wFaq: JSON.parse(this.faq),
    };
  },

  watch: {
    faq(newValue) {
      if (newValue) {
        this.wFaq = JSON.parse(this.faq);
      }
    },
    search(newValue) {
      this.filter = newValue && this.search !== '' ? 'filter' : 'nofilter';
    },
  },

  methods: {
    getFramaname(key) {
      return this.$te(`color.${this.$t(key, '-k~lL@')}`)
        ? this.$t(`color.${this.$t(key, '-k~lL@')}`)
        : undefined;
    },

    getSectionIcon(key) {
      let icon = 'fa-question-circle';
      if (this.$te(`icon.${this.$t(key, '-k~L@')}`)) {
        icon = this.$t(`icon.${this.$t(key, '-k~L@')}`);
      }
      if (this.$te(`faq.icon.${key}`)) {
        icon = this.$t(`faq.icon.${key}`);
      }
      return icon;
    },
  },
};
</script>
