<template>
  <div>
    <b-list-group-item
      v-for="key in Object.keys($t('faq')).filter(key => !/(intro|title|icon)/.test(key))"
      :key="key"
      :href="`#${getFramaname(key) !== undefined
        ? $t(getFramaname(key), '-tlL').replace(/[^a-z]/g, '')
        : key}`"
      class="d-none d-lg-block text-muted"
    >
      <icon
        :name="getSectionIcon(key)"
        :label="getFramaname(key) ? getFramaname(key) : $t(`faq.${key}.title`)"
      />
    </b-list-group-item>
  </div>
</template>

<script>
export default {
  methods: {
    getFramaname(key) {
      return this.$te(`color.${this.$t(key, '-k~lL@')}`)
        ? this.$t(`color.${this.$t(key, '-k~lL@')}`)
        : undefined;
    },

    getSectionIcon(key) {
      let icon = 'fa-question-circle';
      if (this.$te(`icon.${this.$t(key, '-k~L@')}`)) {
        icon = this.$t(`icon.${this.$t(key, '-k~L@')}`);
      }
      if (this.$te(`faq.icon.${key}`)) {
        icon = this.$t(`faq.icon.${key}`);
      }
      return icon;
    },
  },
};
</script>
