<template>
  <b-container class="ombre">
    <h1 v-html="$t('faq.title')"></h1>
    <div v-html="$t('faq.intro')"></div>
    <b-row>
      <!-- Search & TOC -->
      <b-col lg="4">
        <b-list-group
          class="position-sicky sticky-top"
          style="top: 20px; max-height: calc(100vh - 40px); overflow-y: scroll; z-index: 998;"
        >
          <Search
            :search="search"
            :faq="faq"
          />
          <TOC />
        </b-list-group>
      </b-col>

      <!-- Answers -->
      <b-col
        lg="8"
        order-lg="1"
      >
        <section id="subfaq">
          <Answers
            :search="search"
            :faq="JSON.stringify(faq)"
          />
        </section>
      </b-col>
    </b-row>
  </b-container>
</template>

<style lang="scss">
#faq {
  .ombre h2::after {
    content: initial;
  }

  #subfaq {
    .list-group-item.active {
      background: #FFF8E3;
    }

    .list-group-item:not(.active),
    p.text-right {
      display: block;
    }

    .filter {
      h2,
      .list-group-item:not(.search) {
        display: none;
      }

      .search h2 {
        display: block;
      }
    }
  }
}
</style>

<script>
import Search from './faq/Search.vue';
import TOC from './faq/TOC.vue';
import Answers from './faq/Answers.vue';

export default {
  components: {
    Search,
    TOC,
    Answers,
  },

  data() {
    return {
      search: '',
      faq: {},
    };
  },

  created() {
    this.loadFaq();
  },

  methods: {
    loadFaq() {
      Object.keys(this.$t('faq')).filter(key => !/(intro|title|icon)/.test(key))
        .forEach((key) => {
          this.faq[key] = { variant: '' };
          const q = Object.keys(this.$t(`faq.${key}`)).filter(i => !/title/.test(i));
          for (let i = 0; i < q.length; i += 1) {
            this.faq[key][q[i]] = {
              q: this.$t(`faq.${key}.${q[i]}.q`),
              a: this.$t(`faq.${key}.${q[i]}.a`),
              variant: '',
            };
          }
        });
    },
  },
};
</script>
