<template>
  <b-navbar
    class="align-items-center justify-content-center justify-content-md-end px-0"
  >
    <b-navbar-nav>
      <b-nav-item
        :href="$t('link.docs')"
        onclick="return false;"
        @click="$root.$children[0].modal.docs = true"
      >
        <icon
          :label="$t('menu.documentation')"
          :name="$t('icon.doc')"
          size="2x fa-fw"
          sr-only
          variant="d-lg-none"
        />
        <span
          class="d-none d-lg-inline text-nowrap"
          v-html="$t('menu.documentation')"
        ></span>
      </b-nav-item>
      <b-nav-item :href="$t('link.colibri')">
        <icon
          :label="$t('menu.forum')"
          :name="$t('icon.colibri')"
          size="2x fa-fw"
          sr-only
          variant="d-lg-none"
        />
        <span
          class="d-none d-lg-inline text-nowrap"
          v-html="$t('menu.forum')"
        ></span>
      </b-nav-item>
      <b-nav-item
        routeur-tag="li"
        active-class="active"
        :to="`/${$t('lang')}/newsletter`"
      >
        <icon
          :label="$t('newsletter.title')"
          :name="$t('icon.newsletter')"
          size="2x fa-fw"
          sr-only
          variant="d-lg-none"
        />
        <span
          class="d-none d-lg-inline text-nowrap"
          v-html="$t('newsletter.title')"
        ></span>
      </b-nav-item>
      <b-nav-item
        routeur-tag="li"
        active-class="active"
        :to="`/${$t('lang')}/faq`"
      >
        <icon
          :label="$t('faq.title')"
          :name="$t('icon.faq')"
          size="2x fa-fw"
          sr-only
          variant="d-lg-none"
        />
        <span
          class="d-none d-lg-inline text-nowrap"
          v-html="$t('menu.faq')"
        ></span>
      </b-nav-item>
      <b-nav-item>
        <I18n />
      </b-nav-item>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
import I18n from './I18n.vue';

export default {
  components: {
    I18n,
  },
};
</script>
